git+https://github.com/xivo-pbx/xivo-amid.git
git+https://github.com/xivo-pbx/xivo-auth-client.git
git+https://github.com/xivo-pbx/xivo-bus.git
git+https://github.com/xivo-pbx/xivo-dao.git
git+https://github.com/xivo-pbx/xivo-lib-python.git
cherrypy
flask-cors==1.10.3
flask-restful==0.3.4
flask==0.10.1
kombu==2.1.8
psycopg2
pyyaml==3.10
sqlalchemy==0.9.4
