docker-compose
kombu
openapi-spec-validator
psycopg2-binary  # from sqlalchemy
pyhamcrest
pytest
requests
sqlalchemy
https://github.com/wazo-pbx/wazo-agentd-client/archive/buster.zip
https://github.com/wazo-pbx/xivo-dao/archive/buster.zip
https://github.com/wazo-pbx/xivo-lib-python/archive/buster.zip
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/buster.zip
https://github.com/wazo-pbx/xivo-test-helpers/archive/buster.zip
