Source: xivo-agentd
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, dh-systemd (>= 1.5), python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.4
X-Python-Version: >= 2.7

Package: xivo-agentd
Architecture: all
Section: python
Pre-Depends: xivo-libagentd (>= ${binary:Version})
Depends: ${python:Depends}, ${misc:Depends}
Provides: xivo-agent
Conflicts: xivo-agent
Replaces: xivo-agent
Description: Wazo agent server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .

Package: xivo-libagentd
Architecture: all
Section: python
Depends: ${python:Depends},
         ${misc:Depends},
         adduser,
         python-cherrypy3,
         python-flask,
         python-flask-cors,
         python-flask-restful,
         python-kombu,
         xivo-auth-client,
         xivo-bus (>= 15.05~20150311.155435.cd57c19-1),
         xivo-libdao (>= 12.23~20121127.150346.7813fff-1),
         xivo-lib-python (>= 13.02~20130125.161022.4959dfa-1),
         xivo-libamid
Provides: xivo-libagent
Conflicts: xivo-libagent
Replaces: xivo-libagent
Description: Wazo agent lib
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
