Source: wazo-agentd
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9

Package: wazo-agentd
Architecture: all
Section: python
Depends:
 ${python3:Depends},
 ${misc:Depends},
 adduser,
 python3-cheroot,
 python3-flask,
 python3-flask-cors,
 python3-flask-restful,
 python3-kombu,
 python3-marshmallow,
 python3-werkzeug,
 rename,
 wazo-auth-client-python3,
 wazo-amid-client-python3,
 wazo-bus-python3,
 xivo-libdao-python3,
 xivo-lib-python-python3
Provides: xivo-agentd, xivo-libagentd, wazo-libagentd
Conflicts: xivo-agentd, xivo-libagentd, wazo-libagentd
Replaces: xivo-agentd, xivo-libagentd, wazo-libagentd
Description: Wazo agent server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
