[Unit]
Description=wazo-agentd server
ConditionPathExists=!/var/lib/wazo/disabled
After=network-online.target asterisk.service postgresql.service rabbitmq-server.service
Before=monit.service

[Service]
ExecStartPre=/usr/bin/install -d -o wazo-agentd -g wazo-agentd /run/wazo-agentd
ExecStart=/usr/bin/wazo-agentd
ExecStartPost=/usr/bin/wazo-agentd-wait
PIDFile=/run/wazo-agentd/wazo-agentd.pid

[Install]
WantedBy=multi-user.target
