[Unit]
Description=wazo-agentd server
ConditionPathExists=!/var/lib/wazo/disabled
After=network-online.target asterisk.service postgresql.service rabbitmq-server.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/wazo-agentd
ExecStartPost=/usr/bin/wazo-agentd-wait
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
