[Unit]
Description=xivo-agentd server
ConditionPathExists=!/var/lib/xivo/disabled
After=network-online.target asterisk.service postgresql.service rabbitmq-server.service
Before=monit.service

[Service]
Type=forking
ExecStartPre=/usr/bin/install -d -o xivo-agentd -g xivo-agentd /var/run/xivo-agentd
ExecStart=/usr/bin/xivo-agentd
PIDFile=/var/run/xivo-agentd/xivo-agentd.pid

[Install]
WantedBy=multi-user.target
