[Unit]
Description=xivo-agentd server
ConditionPathExists=!/var/lib/xivo/disabled
After=network-online.target asterisk.service postgresql.service rabbitmq-server.service
Before=monit.service
Wants=network-online.target asterisk.service postgresql.service rabbitmq-server.service

[Service]
Type=forking
ExecStart=/usr/bin/xivo-agentd
PIDFile=/var/run/xivo-agentd.pid

[Install]
WantedBy=multi-user.target
